.content-flex {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.content-box {
    min-width: 50em;
    width: 25%;
    border: 4px solid $color-base;
    border-radius: 0.6em;
    margin: 1em;
    height: fit-content;

    img {
        max-width: 49em;
    }
}

.content-title {
    min-width: 15em;
    margin: 1em auto;
    border: 3px solid $color-base;
    border-radius: 0.6em;
    width: 15%;
    height: fit-content;
}

.content-table {
    min-width: 15em;
    margin: 1em auto;
    border: 3px solid $color-base;
    border-radius: 0.6em;
    width: 15%;
    height: fit-content;

    a {
        color: $color-text;
    }
}

.content {
    margin: 0.6em;

    span {
        background-color: $color-base;
        color: $color-text;
    }

    a {
        color: $color-text;

        &:hover {
            color: $color-lavender;
        }
    }
}

.sub-content {
    margin-top: 2em;
}