footer {
    background-color: $color-mantle;
    color: $color-text;
    margin-top: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    margin-left: 1em;
}

.footer-right {
    margin-right: 1em;

    a {
        color: $color-text;
        text-decoration: none;

        &:hover {
            color: $color-lavender;
        }
    }
}