@import 'colors.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'footer.scss';
@import 'content.scss';

body {
  background-color: $color-surface0;
  color: $color-text;
  font-family: roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}
