.menu {
    background-color: $color-mantle;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $color-mantle;
    }

    li {
        float: left;
        width: 6em;

        a {
            display: block;
            text-align: center;
            padding: 0.4em 0.6em;
            color: $color-text;
            text-decoration: none;

            &:hover {
                background-color: $color-blue
            }
        }
    }

    ul li ul {
    display: none;
    visibility: hidden;
    position: absolute;
    width: inherit;
    }

    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover, 
    ul li ul:focus {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }
    
}

