<!doctype html>
<html>
<head>
    {{ partial "meta.html" . }}
</head>


<body>
    <header>
        {{ partial "header.html" . }}
        {{ partial "nav.html" . }}    
    </header>
    <main>
        {{ block "main" . }}
        {{ end }}    
    </main>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
</body>

</html>