{{ define "main" }}
    <div class="content-flex">
        <div class="content-box">
            <div class="content">
                {{ .Content }}
                <div class="sub-content">
                    {{ if .Section }}
                        {{ range .Pages }}
                            <ul>
                                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            </ul>
                        {{ end }}
                    {{ end }}    
                </div>
            </div>
        </div>
    </div>
{{ end }}