{{ define "main" }}
    <div class="content-flex">
        <div class="content-table">
            {{ .TableOfContents }}
        </div>
        <div class="content-box">
            <div class="content">
                {{ .Content }}
            </div>
        </div>
        <div class="content-title">
            <div class="content">
                <h3>Title: {{ .Page.Title }}</h3>
                <h4>Author: {{ .Params.author }}</h6>
                <p>Publish Date: {{ .Date | time.Format "2, Jan 2006" }}</p>
                <p>Last updated: {{ .Lastmod.Format "2, Jan 2006" }}</p>
            </div>
        </div>
    </div>
{{ end }}