<div class="footer">
    <div class="footer-left"><p>&copy flaxplax.com 2025</p></div>
    <!-- <div class="footer-center"></div> -->
    <div class="footer-right">
        <p>
            <a href="https://gitlab.com/flaxplax">Gitlab</a>
            |
            <a href="mailto:website@flaxplax.com">Email</a>
            |
            <a href="/sitemap">Sitemap</a>
        </p>
    </div>
</div>
