<div class="menu">
    <nav>
        <ul>
            {{- range site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{- end }}
            {{ range .Site.Sections }}
                <li ><a href="{{ .Permalink }}">{{ .Title }}</a>
                    <ul>
                        {{ range .Pages }}
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ end }}
                    </ul>
                </li>
            {{ end }}
        </ul>
    </nav>

</div>
